<header>
    <nav id="flags">
      <a id="fb" href="https://www.facebook.com/hiphopdeclarationofpeace" ><img alt="Facebook" src="/fb.png"></a>
      <a href="/home"><img alt="english" src="/flags/uk-us.jpg"></a>
      <a href="/acceuil"><img alt="french" src="/flags/fr.jpg"></a>
      <a href="/casa"><img alt="spanish" src="/flags/es.jpg"></a>
    </nav>

<hr>
	{{ if (eq .Params.lang "fr") }}
	<h1 id="title">Déclaration de Paix du Hip Hop</h1>
	{{ else if (eq .Params.lang "es") }}
	<h1 id="title">Declaración de Paz del Hip hop</h1>
	{{ else }}
	<h1 id="title">Declaration of Peace of Hip Hop</h1>
	{{ end }}

	<nav id="main-menu">
		{{ range (index .Site.Taxonomies.menu .Params.lang).Pages }}
		<a href="{{ .Permalink  }}">{{ .LinkTitle }}</a>
		{{ end }}
		<div class="clear"></div>
	</nav>

	
	
</header>

<!--<h2 id="subtitle">{{ .Title }}</h2>-->
<hr>
