<header>
	<nav id="language-menu">
	  <div class="dropdown" role="presentation" >
		<a id="drop6" href="#" data-hover="dropdown" class="dropdown-toggle js-activated" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
		Lang<span class="caret"></span>
		</a>
		<ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
		  <li role="presentation"><a href="/home">English</a></li>
		  <li role="presentation"><a href="/acceuil">Français</a></li>
		  <li role="presentation"><a href="/casa">Español</a></li>
		</ul>
	</nav>

	{{ if (eq .Params.lang "fr") }}
	<h1 id="title">Déclaration de Paix du Hip Hop</h1>
	{{ else if (eq .Params.lang "es") }}
	<h1 id="title">Declaración de Paz del Hip hop</h1>
	{{ else }}
	<h1 id="title">Declaration of Peace of Hip Hop</h1>
	{{ end }}

	<nav id="main-menu">
		{{ range (index .Site.Taxonomies.menu .Params.lang).Pages }}
		<a href="{{ .Permalink  }}">{{ .LinkTitle }}</a>
		{{ end }}
		<div class="clear"></div>
	</nav>
      
</div>




</header>

<!--<h2 id="subtitle">{{ .Title }}</h2>-->
<hr>
